// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.btn {
    margin: 0 10px;
}
p {
    height: 40px;
    font-size: 25px;
}